.Home_img {
    height: 300px;
    width: 300px;
}

.container_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* padding: 100px; */
    justify-content: space-around;
    justify-items: center;
}

.img_div {
    height: 600px;
    width: 300px;
    /* border: 1px solid lightcoral; */
}

.first_slide {
    padding: 150px;
}

.link {
    text-decoration: underline;
    color: lightcoral;
}

.link:hover {
    cursor: pointer;
}

@media screen and (max-width:768px){
    h3{
      font-size: 0.5em;
    }
    .container_main {
        grid-template-columns: none;
    }
    .img_div{
        height:450px
    }
   }